@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background: url("../../images/desktop/image-header.jpg") center;
  background-size: cover;
  height: 34.375em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Fraunces", serif;
}
header #liste_btn {
  height: 6.25em;
  float: right;
}

#sunnyside {
  position: absolute;
  top: 1.25em;
  left: 1.25em;
}

#wearecreatives {
  height: 6.25em;
  font-family: "Fraunces", serif;
  font-size: 1.17em;
  letter-spacing: 0.313em;
  margin-top: -8.125em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#arrow {
  transform: translate(0px, 53px);
}

.ovale,
.verre {
  width: 100%;
  height: 100%;
}

.transform,
.audience {
  height: 25em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}
.transform a,
.audience a {
  width: 50%;
  font-weight: 900;
  margin-top: -2.5em;
  font-family: "Fraunces", serif;
  text-decoration: none;
  color: black;
  font-size: 1em;
}
.transform a:hover,
.audience a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: red;
}

#header_transform,
#header_audience {
  font-family: "Fraunces", serif;
  font-size: 2.813em;
  font-weight: 900;
}

h2 {
  margin-bottom: 0em;
}

.p_transform,
.p_audience {
  margin-top: -2.5em;
  width: 90%;
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-size: 1.125em;
  color: #818498;
  line-height: 1.75em;
}

.graphicdesign,
.photography {
  height: 31.25em;
  padding-top: 21.875em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: stretch;
  font-family: "Barlow", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  padding-bottom: 6.875em;
}

.graphicdesign {
  background: url("../../images/desktop/image-graphic-design.jpg") center;
}

.photography {
  background: url("../../images/desktop/image-photography.jpg") center;
}

#header_graphicdesign,
#header_photography {
  font-family: "Barlow", sans-serif;
  width: 90%;
  transform: translate(5%, 0%);
  color: #25564b;
}

#header_photography {
  color: #19536b;
}

#p_graphic,
#p_photography {
  padding-top: 1.563em;
  width: 90%;
  transform: translate(5%, 0%);
  color: #25564b;
  font-size: 1.125em;
  letter-spacing: -0.063em;
  line-height: 1.75em;
}

#p_photography {
  color: #19536b;
}

.testimonial {
  height: 65.625em;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1.875em;
  padding-bottom: 4.375em;
}

#testimonial_header {
  text-align: center;
  width: 100%;
  padding-bottom: 2.813em;
  padding-top: 2.5em;
  font-size: 1.125em;
  font-family: "Fraunces", serif;
  color: #a7abae;
  letter-spacing: 0.188em;
}

.testimonial_people {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

.name {
  padding-top: 1.563em;
  padding-bottom: 0.625em;
  font-weight: 700;
}

#thomas {
  margin-top: 3.438em;
}

#jennie {
  margin-top: 3.438em;
}

#trade {
  color: #a7abae;
  font-size: small;
  padding-top: -4.375em;
}

#keysentence {
  padding-top: -1.563em;
  padding-left: 1.688em;
  width: 90%;
  font-family: "Barlow", sans-serif;
  font-size: 1.125em;
  color: #5a636c;
}

.fourpictures {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#lait,
#orange,
#glace,
#sucre {
  width: 50%;
}

footer {
  background-color: #90d4c5;
  height: 23.438em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#sunnyside2 {
  filter: invert(75%) sepia(50%) saturate(474%) hue-rotate(116deg) brightness(95%) contrast(86%);
  width: 180px;
  margin-top: 0.625em;
}

#list_footer {
  width: 90%;
  text-align: center;
  margin-bottom: -5em;
  margin-top: -12.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  font-size: 1.125em;
  font-family: "Barlow", sans-serif;
}
#list_footer a {
  text-decoration: none;
  color: #25564b;
}

#img_social {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -3.125em;
}

#img_social_facebook,
#img_social_instagram,
#img_social_twitter,
#img_social_pinterest {
  padding-left: 1.563em;
  transform: translate(-30%, -50%);
}

@media screen and (min-width: 750px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  header {
    background: url("../../images/desktop/image-header.jpg") center;
    background-size: cover;
    height: 34.375em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Fraunces", serif;
  }
  header #liste_btn {
    height: 6.25em;
    float: right;
  }

  #sunnyside {
    position: absolute;
    top: 1.25em;
    left: 1.25em;
  }

  #wearecreatives {
    height: 6.25em;
    font-family: "Fraunces", serif;
    font-size: 1.17em;
    letter-spacing: 0.313em;
    margin-top: -8.125em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #arrow {
    transform: translate(0px, 3.3125em);
  }

  .jobs {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .ovale,
.verre {
    width: 100%;
  }

  .ovale {
    grid-area: 1/2;
  }

  .transform,
.audience {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
  }
  .transform a,
.audience a {
    width: 100%;
    font-weight: 900;
    margin-top: -2.5em;
    font-family: "Fraunces", serif;
    text-decoration: none;
    color: black;
    font-size: 1em;
  }
  .transform a:hover,
.audience a:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: red;
  }

  #header_transform,
#header_audience {
    font-family: "Barlow", sans-serif;
    font-size: 2.813em;
    font-weight: 900;
  }

  h2 {
    margin-bottom: 0em;
  }

  .p_transform,
.p_audience {
    margin-top: -2.5em;
    width: 90%;
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-size: 1.125em;
    color: #818498;
    line-height: 1.75em;
  }

  .graphicdesign,
.photography {
    height: 31.25em;
    width: 100%;
    padding-top: 21.875em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: stretch;
    font-family: "Barlow", sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    padding-bottom: 6.875em;
  }

  .graphicdesign {
    background: url("../../images/desktop/image-graphic-design.jpg") center;
  }

  .photography {
    background: url("../../images/desktop/image-photography.jpg") center;
  }

  #header_graphicdesign,
#header_photography {
    font-family: "Fraunces", serif;
    width: 90%;
    transform: translate(5%, 0%);
    color: #25564b;
  }

  #header_photography {
    color: #19536b;
  }

  #p_graphic,
#p_photography {
    padding-top: 1.563em;
    width: 90%;
    transform: translate(5%, 0%);
    color: #25564b;
    font-size: 1.125em;
    letter-spacing: -0.063em;
    line-height: 1.75em;
  }

  #p_photography {
    color: #19536b;
  }

  .testimonial {
    height: 65.625em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    padding-bottom: 15.625em;
  }

  #testimonial_header {
    text-align: center;
    font-size: 1.125em;
    font-family: "Fraunces", serif;
    color: #a7abae;
    letter-spacing: 0.188em;
    grid-column: 1/span 3;
    margin-bottom: -2.5em;
  }

  #col_jennie,
#col_emily,
#col_thomas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  #thomas {
    margin-top: 0em;
  }

  #jennie {
    margin-top: 0em;
  }

  #trade {
    color: #a7abae;
    font-size: small;
    margin-top: -3.75em;
    width: 180px;
  }

  /*
   .testimonial_people {
     border: black solid 2px;
     height: 70px;
     width: 70px;
     border-radius: 100%;
   }
  */
  .name {
    font-weight: 700;
    width: 7.813em;
  }

  /*
   #trade {
     border: black solid 2px;
     color: $Grayish-blue;
     font-size: small;
     padding-top: -4.375em;
     width: 180px;
   }
  */
  #keysentence {
    padding-top: -1.563em;
    padding-left: 1.688em;
    width: 90%;
    font-family: "Barlow", sans-serif;
    font-size: 1.125em;
    color: #5a636c;
  }

  .fourpictures {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #lait,
#orange,
#glace,
#sucre {
    width: 25%;
    height: 250px;
  }

  footer {
    background-color: #90d4c5;
    height: 235px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #sunnyside2 {
    filter: invert(75%) sepia(50%) saturate(474%) hue-rotate(116deg) brightness(95%) contrast(86%);
    width: 130px;
    margin-top: 0.625em;
  }

  #list_footer {
    width: 90%;
    margin-bottom: -5em;
    margin-top: -7.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    font-size: 15px;
    font-family: "Barlow", sans-serif;
  }
  #list_footer li {
    padding: 2.188em;
  }
  #list_footer a {
    text-decoration: none;
    color: #25564b;
  }

  #img_social {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0em;
  }

  #img_social_facebook,
#img_social_instagram,
#img_social_twitter,
#img_social_pinterest {
    width: 5%;
    padding-left: 1.563em;
    transform: translate(-30%, -50%);
  }
}
#hamburger {
  display: none;
}

#hamitems {
  display: none;
  text-align: center;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#hamitems a {
  text-decoration: none;
  color: #818498;
}

#hamnav input:checked ~ #hamitems {
  display: block;
  position: absolute;
  transform: translate(-50%, -43%);
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  font-size: 20px;
  font-family: "Barlow", sans-serif;
  width: 95%;
  height: 30%;
}
#hamnav input:checked ~ #hamitems a:hover {
  padding: 15px;
  border: solid #fad400 2px;
  border-radius: 30%;
  background-color: #fad400;
}

#hamitems {
  display: block;
  position: absolute;
  transform: translate(-1000%, -43%);
  transition: all 1s ease-in-out;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
  filter: invert(1);
}

/*# sourceMappingURL=style.css.map */
